<div class='col-sm-4 bg-info'>
  <h3>Your searches:</h3>

  <% if searches.any? %>
    <ul class='list-group'>
      <% searches.each do |search| %>
        <%= render 'searches/search', search: search %>
      <% end %>
    </ul>
  <% end %>
</div>